body {
    box-sizing: border-box;
    height: 100vh;
    background-color: rgba(33, 234, 228, 0.67);
    background-image: url("../img/retro palm trees.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: hard-light;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brandtitle {
    font-family: "Franklin Gothic Medium";
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;

}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

}

.bodyid {
    margin-top: 100px;
}

.scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: -70px;
}

.score {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    margin-top: -50px;
    margin-left: 50px;
}

#player-score {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    padding: 10px 10px 10px 10px;
    font-size: 63px;

}

.player-opponent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 2rem;
    overflow: hidden;
}

.playerchoice {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    padding: 10px 10px 200px 10px;
    font-size: 63px;
    gap: 1rem;
}

.opchoice {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    padding: 10px 10px 200px 10px;
    font-size: 63px;
    gap: 1rem;
}

.scoreboard {

    color: #ffffff;
    font-size: 24px;


}

.restart {
    font-size: 24px;
    padding: 1rem;
}



.choices {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 1rem;
    margin-top: -175px;

}


img {
    width: 150px;
    max-height: 150px;
}

.btn-rock,
.btn-paper,
.btn-scissor {
    margin-top: 200px;
    padding: 5px;
    background-color: red;
}

.btn-rock.disable,
.btn-paper.disable,
.btn-scissor.disable {
    visibility: hidden;
}

.btn-rock:hover,
.btn-paper:hover,
.btn-scissor:hover {
    transform:scale(1.1);
    transition:0.3s;

}

@media (max-width: 650px) {


    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;

    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    body {
        box-sizing: border-box;
        height: 100vh;
        background-color: rgba(33, 234, 228, 0.67);
        background-image: url("../img/retro palm trees.jpg");
        background-position: center;
        background-size: cover;
        background-blend-mode: hard-light;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
    }

    #player2Name, #player1Name {
        margin: 1px;
        font-size: 18px;
        padding: 5px;

    }



    #player1 img, #player2 img {
        width: 70px;
        margin: 0;

    }

    #player1, #player2 {
        width: 40px;
        margin: 0;
        padding: 5px;

    }

    #choice img {
        width: 70px;
    }


    .player-opponent{
        font-size: 18px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;

    }

    .playerchoice {
        padding: 5px;
        color: #ffffff;
    }
    .score {
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 18px;
        margin-top: -50px;
        margin-left: 50px;
    }

    #player-score {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #FFFFFF;
        padding: 10px 10px 10px 10px;
        font-size: 18px;

    }





}

@media (max-width: 800px) {
    body {
        height: 100vh;
        background-color: rgba(33, 234, 228, 0.67);
        background-image: url("../img/retro palm trees.jpg");
        background-position: center;
        background-size: cover;
        background-blend-mode: hard-light;
        font-family: Arial, Helvetica, sans-serif;
    }

    .nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 3rem;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .scoreboard {
        margin-top: 20px;
        margin-bottom: -10px;
    }

    .player-opponent{
        display: flex;
        margin-top: 15px;

    }



    #player1Name, #player2Name {
        font-size: 30px;
    }


    .playerchoice {
        padding: 10px 10px 150px 10px;
        margin-right: -50px;
        color: #ffffff;
        font-size: 40px;
    }

    .opchoice {
        padding: 10px 10px 150px 10px;
        margin-left: 20px;
        color: #ffffff;
        font-size: 40px;
    }

    img {
        width: 150px;
        max-height: 150px;
    }
}

@media (max-width: 1200px) {
    body {
        height: 100vh;
        background-color: rgba(33, 234, 228, 0.67);
        background-image: url("../img/retro palm trees.jpg");
        background-position: center;
        background-size: cover;
        background-blend-mode: hard-light;
        font-family: Arial, Helvetica, sans-serif;
    }

    .nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1rem;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .scoreboard {
        margin-top: 20px;
        margin-bottom: -10px;
    }

    .player-opponent{
        display: flex;
        margin-top: 15px;

    }

    .playerchoice {
        padding: 10px 10px 150px 10px;
        margin-right: -50px;
        color: #ffffff;
        font-size: 40px;
    }

    .opchoice {
        padding: 10px 10px 150px 10px;
        margin-left: 20px;
        color: #ffffff;
        font-size: 40px;
    }

    img {
        width: 125px;
        max-height: 125px;
    }

    .player-opponent img {

        margin-left: 65px;

    }
}




